@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'NunitoRegular';
    src: url('../assets/fonts/Nunito/Nunito-Regular.ttf');
}
@font-face {
    font-family: 'NunitoMedium';
    src: url('../assets/fonts/Nunito/Nunito-Medium.ttf');
}
@font-face {
    font-family: 'NunitoBold';
    src: url('../assets/fonts/Nunito/Nunito-Bold.ttf');
}
@font-face {
    font-family: 'NunitoBlack';
    src: url('../assets/fonts/Nunito/Nunito-ExtraBold.ttf');
}
/* Root */
:root {
    --semi-black: #333;
    --black: #111;
    --white: #fff;
    --deny: #ff4949;
    --accept: #67d850;
}
.dark body {
    background-color: #222;
}
body {
    background-color: #fff;
}
